doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/form.css')
main.form-section(style='background-color: rgb(24, 210, 24);')
  h1 Register Here
  form#register-form
    label(for='username') Username:
    input#username(type='text' name='username' placeholder='Enter Username' required='')
    br
    label(for='email') Email
    input#email(type='email' name='email' placeholder='Enter Email' required='')
    label(for='password') Password
    input#password(type='password' name='password' placeholder='Enter Password' required='')
    label(for='corfirmpassword') Corfirm Password
    input#corfirmpassword(type='password' name='corfirmpassword' placeholder='Corfirm password' required='')
    span#passwordError.error
    label(for='branch') Branch
    select#branch(name='branch' required='')
      option(value='maganju') Maganjo
      option(value='matuga') Matuga
    label(for='role') Role
    select#role(name='role' required='')
      option(value='administrator') Administrator
      option(value='manager') Manager
      option(value='sales_agent') Sales Agent
    input.btn.btn-primary.custom-button(type='submit' value='Register')
    p
      | Already have an account? 
      a(href='login.html') Login here
