doctype html
head
  title Signup
h1 Sign Up
form(action='/signup' method='POST')
  label(for='email') Email:
  input(type='email' name='email' required='')
  label(for='password') Password:
  input(type='password' name='password' required='')
  button(type='submit') Sign Up
a(href='/login') Already have an account? Log in here.
